.container{
    width: 100%;
    height: 500px;
 }
 .content_left{
     background-color: white;
     width: 50%;
     height: 500px;
     display: block;
    float: left;
 }
 .content_right{
     background-color: bisque;
     width: 50%;
     height: 500px;
     
     display: block;
    float: right;
 
 }